<%- model_class = User -%>
<% if current_user.admin? %>
<div id="user-lookup">
  	
	
  	<table class="search-results-table col-md-12 table table-striped">
    <thead>
      <tr> 
        <th><%= model_class.human_attribute_name(:full_name) %></th>
        <th><%= model_class.human_attribute_name(:email) %></th>
        <th><%= model_class.human_attribute_name(:admin) %></th>
        <th><%= model_class.human_attribute_name(:updated_at) %></th>
        <th><%=t '.actions', :default => t("helpers.actions") %></th>  
      </tr>
    </thead>
    <tbody>

  		<tbody>          
  			<% @freeusers.each do |user| %>  
  			<tr>
            <td><%= user.full_name %></td>
  				  <td><strong><%= link_to user.email, freeuser_path(user) %></strong></td>
            <td style="color: darkred;"><%= user.admin %></td>
			      <td><%= time_ago_in_words (user.updated_at) %> ago</td>
            <% if current_user == @super_user || current_user == user %>
             <td>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          freeuser_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
              <% if current_user == @super_user %>
                <%=link_to 'change admin', edit_freeuser_path(user), :class => 'btn btn-xs btn-primary' %>
              <% end %>            
            </td>
            <% else %>
                  <td>Account Locked <br><p style="color: darkred;"><%= user.email %></p> </td>
            <% end %>            
      		</tr>	 	
    		<% end %>          
        <% end %>          
    	</tbody>
	</table> 
  <% else %>	
  	  		
     <div id="user-lookup-errors"></div>
    </div>


</div> 
 
<div class="flickr_pagination">
    <div class="page_info">
     
    </div>
    <%= will_paginate  %>
  </div>

  
 

