
<!-- <script src="assets/jqFancyTransitions.js"></script> -->
<% if current_user %>
	 
	<h1 align="center"> Welcome to the Photo Managment App!</h1>
	<!-- <div id="welcome_background"> -->
	<div id="main_body">
		<% if @images.size == 0 %>
			<img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/1011.JPG">
			<h2 align="center" style="margin-top: 250px; color: red;">Upload 2 images to have them displayed here</h2>
			<img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/2009.JPG">
	        <h2 align="center" style="margin-top: 250px; color: red;">Upload 2 images to have them displayed here</h2>
	    <% end %>    

            <% @images.take(8).each do |image| %>
            	<% if (current_user.id == image.user_id && @images.size >= 2) || current_user.admin? %>
            		<a href="/images/"><%= image_tag image.picture.url, width: "1140" %></a>
            	<% else %>
            		<h2 align="center" style="margin-top: 250px; color: red;">Upload 2 images to have them displayed here</h2>
	            	<img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/1011.JPG">
	            	<h2 align="center" style="margin-top: 250px; color: red;">Upload 2 images to have them displayed here</h2>
	            	<img class="main_image" src="https://s3-us-west-1.amazonaws.com/codingdojo/2009.JPG">
            	<% end %> 	
            <% end %>
        </div> 
	</div>
	
		<% @images.take(8).each do |image| %>
			<% if current_user.id == image.user.id || current_user.admin? %>
			<div class="col-sm-12 col-md-3" style="margin-top: 10px;">
				<div class="thumbnail" style="height: 240px;">
				 <a href="/images/<%= image.id %>"><%= image_tag image.picture.url %></a>
					<div class="caption">
						<%= image.name %>
						<p> photo by: <%= image.credit %></p>
					</div>
    			</div>
  			</div>	
  			<% end %>	
  		<% end %>
	 

<% else %>
<!-- If there is no logged in user this will display -->
<div class="jumbotron">
	<h2> Welcome to the Photo Management App!</h2>
	<p class="lead">
		You'll love managing your Photos with our application. Sign up!
	</p>
<div class="row">

	<div class="plans clearfix" style="margin-top: 400px;">
		<div class="col-lg-4 col-lg-offset-4 plan">
			<h2>Premium Plan</h2>
<!-- 			<div class="price pull-right">
				Price: $10 (Its Really Free)
			</div> -->
			<div class="features">
				<ul style="list-style-type: none;">
					<li>Unlimited Image Uploads</li>
					<li>Responsive design</li>
					<li>Access anywhere</li>
				</ul>
			</div>
			<p>
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-lg btn-primary sign-up' %>
			</p>

		</div>

	</div> 
</div>
<h4><%= social_share_button_tag("Share") %></h4>


</div>
	<div align="right" style="margin-right: 15px; margin-top: -20px">
		
	</div>
	<div>
        <footer style="margin-top: -40px; margin-left: 20px;">
          </br><p>&copy; Sammy Dallal 2016</p>
        </footer>
    </div>  

<!-- <div class="row">

	<div class="plans clearfix">
		<div class="col-lg-3 col-lg-offset-3 plan">
			<h2>Premium Plan</h2>
			<div class="price pull-right">
				Price: $10 (Its Really Free)
			</div>
			<div class="features">
				<ul>
					<li>Unlimited Image Uploads</li>
					<li>Responsive design</li>
					<li>Access anywhere</li>
				</ul>
			</div>
			<p>
			<%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %>
			</p>

		</div>

		<div class="col-lg-3 plan">

			<h2>Amaze Plan</h2>

				<div class="price pull-right">

				Price: Free

			</div>

		<div class="features">
			<ul>
				<li>Unlimited Image Uploads</li>
				<li>Responsive design</li>
				<li>Access anywhere</li>
				<li class='extra'>Unlimited projects</li>
			</ul>
		</div>
			<p><%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-primary sign-up' %></p>
		</div>
	</div>
</div> -->
<% end %>

