<%- model_class = Image -%>

<h1 align="left"> <%= "Album: " + @album.name %></h1>

<div align="right" style="margin-top: -30px;"> 
	<% if current_user || current_user.admin? %>
		<div class="row">
			<%= link_to "Edit Album Name", edit_album_path(@album), class: "btn btn-xs btn-primary"%>
			<%= link_to "Delete Album", album_path(@album), method: :delete, data: { confirm: "Are you sure you want to delete this Album?" }, class: "btn btn-xs btn-danger" %>
		</div>
	<% end %>
	<hr>

<div id="image-lookup">
  <%= form_tag search_images_path, remote: true, method: :post, id: 'image-lookup-form' do %>
  <div class="form-group row no-padding text-center col-md-8">
    <div class="col-md-8">
      <%= text_field_tag :search_param, params[:search_param], autofocus: true,
                                                          class: 'form-control search-box input-sm' %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: :submit, class: "btn  btn-sm btn-success") do %>
        <i class="fa fa-search"></i> Look up a Images
 <% end %>
    </div>
  </div>
  <% end %>
	
	
</div>	
<div align="center">
	<div id="image-lookup-results">
	    	<table class="search-results-table col-md-12 table table-striped">
        <thead>
          <tr>  
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:picture) %></th>
            <th><%= model_class.human_attribute_name(:Photo_by) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
        	<% @image_albums.each do |photo| %>
        	
        	<tr>
        		<td><%= photo.name %></td>
        		<td><strong><a href="/images/<%= photo.id %>"><%= image_tag photo.picture.url, width: "100" %></a></td></strong>
        		<td><%= photo.credit %></td>
        		<% if logged_in? && (current_user.id == photo.user_id || current_user.admin?) %>

				<td><%= link_to "edit this photo", edit_image_path(photo), class: "btn btn-xs btn-primary" %>
				<%= link_to 'Delete', image_path(photo), class: 'btn btn-xs btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %></td>
				<% end %> 
				<% end %> 
			
        	</tr>
        	
        </tbody>
    
	</div>
</div>


