
<%- model_class = Image -%>
<h3>Welcome: <%= current_user.email %></h3>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  
    <tr>  
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:picture) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:Photo_by) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
  <div align="center" style="font-size: 16px;">
    <%= will_paginate %>
  </div>  
    <% @images.each do |image| %>
      <% if current_user == image.user || current_user.admin %>
        <tr id="image-lookup">
          <td><h4><%= link_to image.name, image_path(image) %></h4></td>
          <td><%= image_tag image.picture.url, width: "100" %></td>
          <td><%= time_ago_in_words(image.created_at) %></td>
          <td><%= image.credit %></td>
          <td>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_image_path(image), :class => 'btn btn-info btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        image_path(image),
                        :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-xs btn-danger' %>
          </td>
        </tr> 
        <% end %>   
    <% end %>
  </tbody>
</table>
  <div align="center" style="font-size: 16px;">
    <%= will_paginate %>
  </div> 

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_image_path,
            :class => 'btn btn-primary' %>
           
