
<%- model_class = Image -%> 
 
<div class="page-header" style="margin-top: -25px; padding-top: 5px;">
  <h1><%= @image.name %></h1>
  <% if current_user.admin? %>  
    <p style="font-weight: bold; color: darkred;">This Photo Belongs to: <%= @id.email %> </p>
  <% end %>
</div>       
    <div class="col-md-12">
      <div style="margin-top: -55px;" align="right">
      <%= link_to t('.back', :default => t("helpers.links.back")),
                    images_path, :class => 'btn-sm btn-info btn active'  %>
      <% if !@id.admin? || current_user == @id || current_user == User.find(1) %>              
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                    edit_image_path(@image), :class => 'btn-sm btn-success btn active' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    image_path(@image),
                    :method => 'delete',
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn-sm btn-danger btn active' %>
      <% end %>              
      </div>
    </div>
<dl style="margin-left: -60px;" class="dl-horizontal">
    <dt></dt>   
      <dd><%= image_tag(@image.picture.url, width: "1000") if @image.picture? %></dd>
      <div style="margin-top: 5px;">
        <dd><p class="pull-right" style="font-weight: italic; margin-right: 20px;"> Photo by: <%= @image.credit %></p></dd>
      </div> 
        <dd style="margin-top: -27px;">
            <% if @images.next(@image) %>
              <%= link_to 'Previous', @images.next(@image), :class => 'btn btn-xs btn-primary' %>
            <% else %>
              <% if @images.size >= 2 %>
                <button class="btn btn-xs btn-danger btn active">First Image</button>
              <% end %>
            <% end %>
            <% if @images.previous(@image) %>
              <%= link_to 'Next', @images.previous(@image), :class => 'btn btn-xs btn-primary' %>
            <% else %>
              <% if @images.size >= 2 %>
               <button class="btn btn-xs btn-danger btn active" style="margin-right: 10px;">Last Image</button>
              <% end %> 
            <% end %>
        </dd>
        <div class="imagebar" style="margin-top: 1px;">
        <% if @images.size > 1 %>
          <% @images.each do |image| %>
          <div style="display: inline-block;">
            <div class="thumbnail" style="width: 145px;">
              <a href="/images/<%= image.id %>"><%= image_tag image.picture.url %></a>
            </div> 
          </div>       
          <% end %> 
        <% end %>
        </div> 
        <%= form_for @image, :html => { multipart: true, :class => "form-horizontal image" } do |f| %>
          <div class="input-group" style="margin-top: -5px;">
            <div class="form-group">
              <div class="">
                <div class=""> 
                <% if !@id.admin? || current_user == @id || current_user == User.find(1) %> 
                <%= f.label :albums, :class => 'control-label col-lg-3' %>
                  <%= f.collection_check_boxes :album_ids, Album.where(user_id: @id), :id, :name do |cb| %>
                    <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text }%>
                <% end %> 
                </div>  
              </div>
            </div>
            <span class="input-group-btn">
              <div class="">
                <div class="col-lg-offset-0 col-lg-10">
                  <%= f.submit nil, :class => 'btn btn-sm btn-success' %>
                </div>
                <% end %>
              </div>
            </span>
          </div>  
      <% end %>  
      <div class="wrap">
          <dd><p><%= @image.caption %> <p style="font-weight: italic"></p> </dd> 
      </div>   
</dl>
