    <div class="navbar navbar-default navbar-fixed-top">
      <div class="fluid-container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">PhotoApp</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
          <% if current_user %>
            <li><%= link_to "Images", "/images"  %></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Albums <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <% if current_user.admin? %>
                  <li><%= link_to "Show All Albums", albums_path %></li>
                  <li role="separator" class="divider"></li>
                <% else %>  
                  <li><%= link_to "Albums by: #{current_user.email}", albums_path %></li>
                  <li role="separator" class="divider"></li>
                <% end %>  
                    <% Album.all.each do |album| %>
                    <% if current_user.id == album.user_id || current_user.admin? %>
                      <% if current_user.admin? %>
                        <li><%= link_to "#{album.name}: #{User.find(album.user_id).full_name}", album_path(album) %></li>
                       <% else %> 
                       <li><%= link_to "#{album.name}", album_path(album) %></li>
                      <% end %>   
                    <% end %>
                  <% end %>
            <% if current_user %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Create New Album", new_album_path %></li>
            <% end %>
          </ul>
          </li> 
            <li><%= link_to "Upload Image", "/images/new" %></li>
            <% if current_user.admin %>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
              <ul class="dropdown-menu">
                  <li><%= link_to "Show All Users", freeusers_path %></li>
                  <li role="separator" class="divider"></li>
                    <% User.all.each do |user| %>
                    <li>
                      <% if user.admin? %>
                        <%= link_to "Admin User: " + "#{user.full_name}", freeuser_path(user)%>
                      <% else %>
                        <%= link_to "#{user.full_name}", freeuser_path(user)%>
                    </li>
                    <% end %>
                  <% end %>
            <% else %> 
            <% if current_user == User.find_by(email: 'admin@photo-app.com') || current_user == User.find_by(email: 'demo@photo-app.com')%>   
              <li style="margin-top: 16px; margin-left: 20px; color: darkred;"><strong>Demo Account </strong></li>
            <% else %>
              <li><%= link_to "Edit your profile", "/users/edit"  %></li>
            <% end %>
            
            <% end %>
            </ul>
            </li>
            <% if current_user.admin %>
              <li style="margin-top: 16px; color: darkred; font-weight: bold;"><p>Admin User</p></li>        
            <% end %>  
          <% end %>  
          </ul>
          <% if current_user %>
            <%= form_tag(search_freeusers_path, class: "navbar-form navbar-left", role: "search") do %>
              <div class="form-group">
                <%= text_field_tag :search_name, nil, placeholder: "Search for Users", class: "form-control"%>
              </div>
                <%= submit_tag "Search", class: "btn btn-sm btn-info"%>
              <% end %>
            <% end %>
          <ul class="nav navbar-right col-md-4">
            <% if current_user %>
            <li class="col-md-8 user-name">
              <% if current_user == User.find_by(email: 'admin@photo-app.com') || current_user == User.find_by(email: 'demo@photo-app.com')%>
                  </li>
              <% else %>
              <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.full_name, length: 25)).html_safe, edit_user_registration_path, title: 'Edit Profile'%></li>
             <% end %>
            <li class="col-md-1">&nbsp;</li> 
            <li class="col-md-3 logout"><%= link_to('Logout', destroy_user_session_path, class: 'btn btn-xs btn-danger', title: 'Logout', :method => :delete) %></li>
            <% else %>
            <li class="col-md-4 pull-right"><%= link_to('Sign In', new_user_session_path, class: 'btn btn-xs btn-primary', title: 'Sign In') %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>